

.quick-view-container {
background: rgba(10, 10, 10, .85);
}
.quick-view-content {
bottom: 0;
height: calc(100% - 40px);
left: 0;
margin: auto;
max-height: 650px;
max-width: 980px;
position: absolute;
right: 0;
top: 0;
width: calc(100% - 40px);
}
.quick-view-carousel {
background: #fff;
bottom: 0;
left: 0;
position: absolute;
right: 0;
top: 0;
width: 57%;
}
.quick-view-carousel .fancybox-stage {
bottom: 30px;
}
.quick-view-aside {
background: #fff;
bottom: 30px;
color: #777;
left: auto;
padding: 50px 0 30px 0;
position: absolute;
right: 0;
top: 30px;
width: 43%;
}
.quick-view-aside::before,
.quick-view-aside::after {
bottom: 0;
content: '';
left: 0;
position: absolute;
top: 0;
}
.quick-view-aside::before {
background: #f4f4f4;
width: 8px;
}
.quick-view-aside::after {
background: #e9e9e9;
width: 1px;
}
.quick-view-aside > div {
height: 100%;
overflow: auto;
padding: 5vh 30px 0 30px;
text-align: center;
}
.quick-view-aside > div > p {
font-size: 90%;
}
.quick-view-close {
background: #f0f0f0;
border: 0;
color: #222;
cursor: pointer;
font-family: Arial;
font-size: 14px;
height: 44px;
margin: 0;
padding: 0;
position: absolute;
right: 0;
text-indent: -99999px;
top: 30px;
transition: all .2s;
width: 44px;
}
.quick-view-close:hover {
background: #e4e4e4;
}
.quick-view-close::before,
.quick-view-close::after {
background-color: #222;
content: '';
height: 18px;
left: 22px;
position: absolute;
top: 12px;
width: 1px;
}
.quick-view-close:before {
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
}
.quick-view-close:after {
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
}
.quick-view-bullets {
bottom: 0;
left: 0;
list-style: none;
margin: 0;
padding: 0;
position: absolute;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
text-align: center;
width: 100%;
z-index: 99999;
}
.quick-view-bullets li {
display: inline-block;
vertical-align: top;
}
.quick-view-bullets li a {
display: block;
height: 30px;
position: relative;
width: 20px;
}
.quick-view-bullets li a span {
background: #d4d2d2;
border-radius: 99px;
height: 10px;
left: 50%;
overflow: hidden;
position: absolute;
text-indent: -99999px;
top: 50%;
transform: translate(-50%, -50%);
width: 10px;
}
.quick-view-bullets li.active a span {
background: #ff4453;
}